demo_data/window_state.pt filter=lfs diff=lfs merge=lfs -text
demo_data/demo.index filter=lfs diff=lfs merge=lfs -text
contriever_finetuned_NEW_20k/model.safetensors filter=lfs diff=lfs merge=lfs -text
